<!-- Loop over each object in the product array -->
{{#each products}}
<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}}</p>
  <img src ={{image_url}}/>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{initial_price}}</span>
    Starting Price
  </p>
  <p>
    <button class="btn btn-primary">Buy Now!</button>
  </p>
</div>
{{/each}}