<!-- Uploading a Single Product for Sale - Probably don't need for MVP -->
<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount initial_price}}</span>
    Starting Price
  </p>
  <p>
    <button class="btn btn-primary">Buy Now!</button>
  </p>
</div>
